<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <!-- Need to run this script to activate the WebXDC API
    https://webxdc.org/docs/spec/api.html#webxdc-javascript-api -->
    <script src="webxdc.js"></script>
  </head>
  <body>
    <p id="device"></p>
    <form id="form">
      <input type="text" id="input" placeholder="Message" required />
      <button>Send</button>
    </form>
    <p id="output"></p>
    <script src="script.js"></script>
  </body>
</html>
